<div class="starter-template">

	<form class="form-signin">
		<!-- <h2 class="form-signin-heading">Please input EBISU_NO</h2> -->
		<input type="text" id="CLIENT_NO" class="form-control" placeholder="EBISU_NO" required="" autofocus="">
		<br />
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			install
		</button>
	</form>

</div>